body{
    background-color: #282828;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description{
    font-style: italic;
    color: black;
    display: inline;
}
.surveyform{
    margin: auto;
    width: 80%;
    background-color: #FF0000;
    border-radius: 20px;
    color: #282828;
    padding: 1%;
}
a{
    color: #00ff40;
}
h1{
    text-align: center;
    
}
label, input, select{
    width: 90%;
    font-family: consolas;
    color: white;
    display: block;
    padding: 2px;
}
input, select{
    min-height: 2rem;
    border-radius: 4px;
    color: black;
}
select{
    color: black;
}
.radio{
    width: 20px;
    display: inline;
    width: auto;
    font-size: medium;
    min-height: 2%;
}
article{
    margin-top: 5px;
}
button{
    background-color: #282828;
    color: white;
    width: 10%;
    display: block;
    border-radius: 4px;
    margin:2px 30%;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold ;
}
button:hover {
    background-color: #3d3d3d;
    font-style: italic;
    color: blanchedalmond;
    font-size: larger;
}
a:hover{
 font-size: larger;
}
.radio:hover{
   font-style: italic;
   color: black;
   font-size: large;
}